body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffcb05;
    text-shadow: 2px 2px #3b4cca;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pokemon-form label {
    margin-right: 10px;
}

.pokemon-form input {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
}
